{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_qr/qr

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
      "qrurl": true,
      "qrcodelink": "https://moodle.org",
      "urlshort": "https://moodle.org",
      "size": "275px",
      "description": "This is a description",
      "calendar": true,
      "calendarsummary": "Meeting",
      "calendarlocation": "Munich",
      "calendarstart": "2023-05-01 ",
      "calendarend": "2023-06-30",
      "geocoordinates": "48.1698,10.1936",
      "qrcodecontent": "test123",
      "id": "0",
      "javascript": "https://yourmoodlesite.com/blocks/qr/js/qrcode.min.js"
    }
}}
{{#qrurl}}
    <a href="{{{qrcodelink}}}">
{{/qrurl}}
    <div id="container{{id}}" style="width: {{size}}; max-width: 100%; margin: 0 auto;">
        {{^qrcodecontent}}
            {{#str}} nocontent, block_qr {{/str}}
        {{/qrcodecontent}}
    </div>
{{#qrurl}}
    </a>
{{/qrurl}}
<hr>
{{^calendar}}
    <p class="text-center">{{description}}<br></p>
{{/calendar}}
{{#calendar}}
    <p class="text-center">
        {{#calendarsummary}}
            {{calendarsummary}}<br>
        {{/calendarsummary}}
        {{#calendarlocation}}
            <i class="fa fa-map-marker"></i>
            {{calendarlocation}}
            <br>
        {{/calendarlocation}}
        <i class="fa fa-calendar"></i>
        {{calendarstart}}{{calendarend}}
    </p>
{{/calendar}}

{{#geocoordinates}}
    <p class="text-center">
        <i class="fa fa-map-marker"></i>
        {{#qrurl}}
            <a href="{{{qrcodelink}}}">
        {{/qrurl}}
        {{geocoordinates}}
        {{#qrurl}}
            </a>
        {{/qrurl}}
    </p>
{{/geocoordinates}}

{{#fullview}}
{{#configshortlink}}
    <p class="text-center">
        <i class="fa fa-location-arrow"></i>
        <a href="{{urlshort}}">
        {{#str}}
            urlshortlabel, block_qr
        {{/str}}
        </a>
    </p>
{{/configshortlink}}
{{/fullview}}
{{#qrcodecontent}}
    <script src="{{javascript}}"></script>
    {{#js}}
        let config{{id}} = {
            content: "{{{qrcodecontent}}}",
            color: "#000000",
            background: "#ffffff",
            ecl: "M", // Error correction level (L, M, H, Q).
            container: "svg-viewbox", // Responsive use.
            join: true // Crisp rendering and 4-5x reduced file size.
        };
        // eslint-disable-next-line no-undef
        let qrcode{{id}} = new QRCode(config{{id}});
        let svg{{id}} = qrcode{{id}}.svg();
        document.getElementById("container{{id}}").innerHTML = svg{{id}};
    {{/js}}
{{/qrcodecontent}}
